.poem {
    font-size: 24px;
    color: rgb(90, 232, 254);
    padding-top: 2em;
    padding-bottom: 2em;
    border-left: 1rem;
    border-right: 1rem;
    border-bottom: 2em;
    border-radius: 20pt;
    margin-bottom: 10em;
    background-color: rgb(21, 5, 17);
}